# 2016 November 5
# https://github.com/bevry/base

# Use the latest travis infrastructure
sudo: false

# https://github.com/nodejs/LTS
language: node_js
node_js:
  - "0.8"   # end of life
  - "0.10"  # end of life
  - "0.12"  # maintenance
  - "4"     # lts
  - "6"     # lts
  - "7"     # stable
matrix:
  fast_finish: true
  allow_failures:
    - node_js: "0.8"
    - node_js: "0.10"
cache:
  directories:
    - node_modules

# Ensure npm is up to date
# Ensure dependencies install with a LTS node version
install: |
  export CURRENT_NPM_VERSION="$(npm --version)"
  export LATEST_NPM_VERSION="$(npm view npm version)"
  if test "$CURRENT_NPM_VERSION" != "$LATEST_NPM_VERSION"; then
    echo "running an old npm version, upgrading"
    npm instal npm --global --cache-min=Infinity
  fi

  export CURRENT_NODE_VERSION="$(node --version)"
  export LTS_NODE_VERSIONS="$(nvm ls-remote --lts)"
  if echo "$LTS_NODE_VERSIONS" | grep "$CURRENT_NODE_VERSION"; then
    echo "running on a LTS node version, completing setup"
    npm run our:setup
  else
    echo "running on a non-LTS node version, completing setup on a LTS node version"
    nvm install --lts
    export LTS_NODE_VERSION="$(node --version)"
    npm run our:setup
    nvm use "$TRAVIS_NODE_VERSION"
  fi

# Ensure compilation and linting occur on an LTS node version
before_script: |
  if test "$LTS_NODE_VERSION"; then
    echo "running on a non-LTS node version, compiling with LTS, skipping linting"
    nvm use "$LTS_NODE_VERSION"
    npm run our:compile
    nvm use "$TRAVIS_NODE_VERSION"
  else
    echo "running on a LTS node version, compiling and linting"
    npm run our:compile && npm run our:verify
  fi

# Custom notifications
notifications:
  slack:
    secure: E3UE+ZnKFBHYhAcDdognqoUXGpOa55haO8JyPG+TYpWPshbPkqz9k7My33cwhJv3GU4mnkAAJ7qnDvYSMAPbC5m6C4X779dEwrkrEmGjxpqK03fg3XpcK73M3MfvN/dZzLJ6xm1SlcVv9srYXtjeMIscgqa9exlARy8UqaqSggw=
  email:
    recipients:
      secure: M6BTfFYSqLYxK069Myv/rwG8UvVOKNQiFyWNRAdYQ1lfvzZ5F2+fLNwqdyaypZwodf6QLjntGcwcF/scTsUFil1hPixbR7TBFo+Kdh19xGRmXIIx5DGO3SaOLmk7eKZeZG9V/0Zy/cDclkCGLoNfWm6O1LU7jgfyoT6Wln5LBj4=
