title: "Contributor Friendly"
date: '2011-06-26'
layout: 'post'
tags: '''
	coding programming standards guidelines community opensource licensing
	'''
description: '''
	Being an open-source developer, contributing to projects is something I do every day - be it my own projects, or other's. Sometimes though, it is just too darn hard to make your contributions, submit your contributions, or have your contributions accepted within a project. This document will serve a series of guidelines for making your project easy to contribute too.
	'''